{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Architecture Design{% endblock %}

{% block content %}
    <!-- Building construction Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static "C:\Users\Sargam\Desktop\shamsher website\myproject\myapp\static\myapp\images\service3.jpg" %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p>Architecture Design</p>
                    </div>
                    <div class="about-text">
                        <p>
                            At Shezan Consultants and Construction LLP, we bring your ideas to life with innovative and functional architecture design services. Our team of skilled architects combines creativity and technical expertise to craft designs that are both visually stunning and practical, tailored to meet your unique requirements.
                        </p>
                        <p>
                            We specialize in designing residential, commercial, and industrial spaces that harmonize aesthetics with functionality. From conceptual layouts and 3D models to detailed blueprints, every aspect of the design process is meticulously planned to ensure that the final structure is a perfect blend of form and purpose.
                        </p>
                        <p>
                            Our approach prioritizes sustainable and efficient designs, integrating modern trends with timeless principles to create spaces that are not only beautiful but also environmentally conscious. With a keen eye for detail and a deep understanding of spatial dynamics, we ensure that every design maximizes usability, comfort, and appeal.
                        </p>
                        <p>
                            Choose Shezan Consultant and Construction LLP for architecture design solutions that transform visions into realities, setting the foundation for spaces that inspire and endure.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}