{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Building Construction{% endblock %}

{% block content %}
    <!-- Building construction Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static "C:\Users\Sargam\Desktop\shamsher website\myproject\myapp\static\myapp\images\service1.jpg" %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p>Building Construction</p>
                    </div>
                    <div class="about-text">
                        <p>
                            At Shezan Consultant and Construction LLP, we specialize in delivering top-quality building construction services that turn your vision into reality. Whether it’s a residential home, a commercial property, or a large-scale infrastructure project, we are committed to providing excellence in every detail.
                        </p>
                        <p>
                            Our team of skilled professionals uses advanced techniques, high-grade materials, and meticulous planning to ensure that every project is executed with precision and efficiency. From initial design concepts to the final finishing touches, we focus on creating structures that are not only durable but also aesthetically pleasing and functional.
                        </p>
                        <p>
                            We understand that every project is unique, which is why we tailor our services to meet your specific needs and preferences. With a strong emphasis on safety, sustainability, and timely delivery, Shezan Consultant and Construction ensures that your construction journey is seamless and stress-free.
                        </p>
                        <p>
                            Partner with us to build spaces that inspire, endure, and exceed expectations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}