{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}House Renovation{% endblock %}

{% block content %}
    <!-- Building construction Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static "C:\Users\Sargam\Desktop\shamsher website\myproject\myapp\static\myapp\images\service2.jpg" %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p>House Renovation</p>
                    </div>
                    <div class="about-text">
                        <p>
                            Transform your living space with Shezan Consultants and Construction LLP expert house renovation services. Whether you’re looking to modernize your interiors, enhance functionality, or restore the charm of an aging property, we are here to bring your vision to life.
                        </p>
                        <p>
                            Our team of skilled professionals works closely with you to understand your needs and preferences, offering innovative design ideas and practical solutions to create the perfect space for your lifestyle. From small upgrades to complete overhauls, we handle every aspect of the renovation process with precision and care, ensuring high-quality results that stand the test of time.
                        </p> 
                        <p>   
                            We focus on delivering renovations that combine aesthetics, durability, and comfort while adhering to your budget and timeline. With Shezan Consultant and Construction, you can expect a seamless, hassle-free renovation experience that revitalizes your home and adds value to your property.
                        </p>
                        <p>
                            Let us help you create a space you’ll love to call home!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}