{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Interior Design{% endblock %}

{% block content %}
    <!-- Building construction Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static "C:\Users\Sargam\Desktop\shamsher website\myproject\myapp\static\myapp\images\service4.jpg" %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <p>Interior Design</p>
                    </div>
                    <div class="about-text">
                        <p>
                            Elevate your living and working spaces with Shezan Consultant and Construction’s exceptional interior design services. We specialize in creating beautiful, functional, and personalized interiors that reflect your style and meet your unique needs. Whether it’s a cozy home, a modern office, or a luxurious commercial space, we transform your vision into a reality.
                        </p>
                        <p>
                            Our expert designers combine creativity with practicality, ensuring that every element of your space is thoughtfully planned and executed. From selecting the perfect furniture, color schemes, and lighting to optimizing layouts for maximum comfort and efficiency, we focus on creating spaces that inspire and delight.
                        </p>
                        <p>
                            With a commitment to quality and attention to detail, we use premium materials and innovative solutions to ensure that your interiors are not only stunning but also durable and sustainable.
                        </p>
                        <p>
                            Discover how Shezan Consultant and Construction can redefine your space with timeless interior design that blends aesthetics, functionality, and your personal touch. Let’s create something extraordinary together!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}